# For running Hugging Face models
transformers>=4.40.0
torch>=2.1.0
accelerate>=0.29.0
einops>=0.7.0

# For using the OpenAI API
openai>=1.3.0


# For loading datasets from Hugging Face Hub
datasets>=2.19.0

# For using compression models
llmlingua>=0.2.2

# For showing progress bars
tqdm>=4.66.0